
/*Fonts*/

h1{
    font-family: $font-primary;
    padding: 30px;
  
  }
  
  h3{
    font-family: $color-secondary;
    font-size: $font-size-large;
    padding: 40px;
  }
  
  /*Links*/
  a{
    text-decoration: none;
    color: $color-secondary;
  }


    img{
        width: 100%;
        height: 100%;
      }
      