p {
    font-size: $font-size-small;
    font-family: $font-primary;
    color: $color-secondary;
    }
/*banner*/
    .image-container {
      position: relative;
    }
    
    .texto-encima {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $color-secondary; /* Color del texto */
      padding: 20px;
    }
    
    .texto-encima h1 {
      font-size: 50px;
      margin-bottom: 10px;
    }
    
    

/*Historia*/
#historia {
  @include flex (null,top, top ,null,null);
    margin: 0px 30px;
    max-width: 12000px;
    padding: 80px 20px 20px 20px;
  }

  .historia-item{
    @include flex (column,null,null ,0px,null);
    padding: 10px 20px 20px 20px;
  }

  /*Carrera Profesional*/

  #carrera-profesional{
    @include flex (null,top, top ,4rem,null);
    background-color: $color-secondary;  
    padding: 80px 20px 80px 20px;
  }
  
  .carrera-profesional-item{
    @include flex (column,left,left,1rem,null);
  flex: 1 1 clamp(300px, 30%, 400px);
  margin: 0px 30px;
}

  .carrera-profesional-item2 {
    color: $color-primary;
  }

.img-carrera{
  width: 50%;
}
  
/*Sus Logros*/
#sus-logros{
    @include flex (column, center, top ,1rem,wrap);
    padding:35px;
  }
  
  .logros-item{
    @include flex (column,center,center,1rem,null);
  flex: 1 1 clamp(300px, 30%, 400px);
  padding: 20px 60px;
  }
  .img-logros{
  width: 100%;
  display: block;
  margin: 0 auto;

  }

  @media only screen and (max-width: 500px){

    #historia{
      display: flex;
      flex-wrap: wrap;
    }
    
    .item{
      flex-direction: column;
    }
    }
  
  @media only screen and (min-width:500px) and (max-width: 960px) {
  
  #historia{
    display: flex;
    flex-wrap: wrap;
  }
  
  .item{
    flex-direction: column;
  }
  }

