  /*Footer*/
footer,h4,p,#nombre{
    color:$color-primary;
  }


  footer p{
    font-size: $font-size-small;
  }


  #sobre-nosotros{
    padding: 3rem;
    background-color: $color-secondary;
  }

  textarea{
    width: 800px;
    height: 150px;
  }

  #preguntas{
    @include flex (null, null, null ,2rem,null);
    }




